mat-card{
	// width: 35%;
	background-color: #eaf0e2;
	width: 40%;
    // height: 400px;
    display: block;
    margin-left:auto;
    margin-right:auto;  
    vertical-align:middle;
    margin-left: 30%;
}

// h2{
//    // text-align: left;
//    position: absolute;
//    left: 5px;
// }
.inputLable{
    position: absolute;
   left: 5px;
}
.example-full-width{
   position: absolute;
   left: 5px;
}
mat-grid-tile{
   text-align: left;
}
.mat-figure{
   text-align: left;
}

#parent {
   flex-direction: row;
   display: flex;
   flex-wrap: wrap;
}


// .example-card{
//     margin: 0 auto;
//     width: 40%;
//     display: inline-block;
//     vertical-align: middle;
// }

// .mat-card-cvr{
//    width: 100%;
//    text-align:left;
// }